################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Apartment Api/.vs
/Apartment Api/Api/bin
/Apartment Api/Api/obj/Debug
